{% extends 'base.html' %} {% block css %}
<link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" type="text/css"> {% endblock css %} {% block title %} Perfil Page | Cars {% endblock title %} {% block header %} {% include 'headerModule.html' %} {% endblock header %} {% block main %}

<div class="container2">
    <h1 style="background-color: #32c3e7; text-align: center; padding-bottom: 10px;">
        Perfil de {{ activeRol }}</h1>
</div>
<div class="row justify-content-between">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <span data-feather="home"></span> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <h2>Rol</h2>
                    <select id="rolUsuario" class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="page(this.value)">
                        <option value="" selected style="color: green;">{{ activeRol }}</option>
                    {% for rol in rolesUsuario %}
                        <option value="{{rol}}">{{rol}}</option>
                    {% endfor %}
                    </select>
                </li>
            </ul>
        </div>
    </nav>
    {% if activeRol == 'Vendedor' %}
    <div class="card col-sm ">
        <h5 class="card-header ">Bienvenido {{usuarioActual.usuLogin}}</h5>
        <div class="card-body ">
            <h5 class="card-title ">Aqui apareceran las noticias del dia!</h5>
            <p class="card-text ">Aun no hay nada.</p>
            <a href="# " class="btn btn-primary ">Go somewhere</a>
        </div>
    </div>
    {% elif activeRol == 'Administrador' %}
    <div class="card col-sm ">
        <h5 class="card-header ">Bienvenido {{usuarioActual.usuLogin}}</h5>
        <div class="card-body ">
            <h5 class="card-title ">Aqui apareceran las noticias del dia!</h5>
            <p class="card-text ">Aun no hay nada.</p>
            <a href="# " class="btn btn-primary ">Go somewhere</a>
        </div>
    </div>
    {% else %}
    <div class="card col-sm ">
        <h5 class="card-header ">Bienvenido {{usuarioActual.usuLogin}}</h5>
        <div class="card-body ">
            <h5 class="card-title ">Aqui apareceran las noticias del dia!</h5>
            <p class="card-text ">Aun no hay nada.</p>
            <a href="# " class="btn btn-primary ">Go somewhere</a>
        </div>
    </div>
    {% endif %}
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<script>
    function page(value) {
        if (value === "Administrador") {
            location.href = "/cliente/Aadministrador";
        } else if (value === "Vendedor") {
            location.href = "/cliente/Vendedor";
        } else {
            location.href = "/cliente/Cliente";
        }
    }
</script>
{% endblock main %} {% block footer %} {% include 'footerModule.html' %} {% endblock footer %}br